#topBarLabel,
#heroTitleLabel,
#heroSubtitleLabel,
#statusLabel,
#settingLabelMusic,
#settingLabelVolume,
#volumeValueLabel{
    font-family: "Segoe UI", "Arial", "Helvetica";
    color: #000000;
    font-weight: bold;
}
#settingsTitleLabel {
    font-size: 27px;        /* <--- Aumente aqui (Ex: 22px) */
    color:#000000;
}

#settingsSubtitleLabel {
    color: #000000;
    font-size: 20px;        /* <--- Aumente aqui (Ex: 13px) */
}
#sectionTitleLabel {
    border-bottom: 2px solid black;
    font-size: 15px;
    letter-spacing: 3px;
    padding-bottom: 8px;
    padding-top: 4px;
}
#topBarLabel {
    font-size: 21px;
}

#heroTitleLabel {
    font-size: 56px;
    letter-spacing: 1px;
}

#heroSubtitleLabel {
    font-size: 14px;
}

#statusLabel {
    font-size: 11px;
    padding-top: 20px;
}

#settingsPanel {
    border: none;
    padding: 52px 52px 36px 52px;
    min-width: 1000px;
    min-height: 700px;
}
QWidget #settingsPage {
    background: transparent;
}

QWidget #settingsPanel {
    border-image: url("../assets/bg_frames/bg_derived.jpg") 0 0 0 0 stretch stretch;
    background-position: center;
    background-repeat: no-repeat;

    /* Define o raio dos cantos arredondados */
    border-radius: 20px;

    /* Garante que o Qt aplique o limite visual da borda */
    border: 1px solid transparent;
}

#settingLabelMusic,
#settingLabelVolume {
    font-size: 17px;

}

#volumeValueLabel {
    font-size: 17px;
    letter-spacing: 1px;
    min-width: 38px;
}

#mainMenuPanel MenuButton,
#settingsPanel MenuButton {
    font-family: "Segoe UI", "Arial", "Helvetica";
    font-size: 25px;
    font-weight: 900;
    color: transparent;
    background-color: transparent;
    padding: 0px 0px 0px 200px;
    margin: 0px;
}
#settingsPanel MenuButton {
    min-width: 500px;
    max-height: 100px;
    text-align: center;
}
#mainMenuPanel{
    max-width: 400px;
}